:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);

  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background-color: var(--LightGray);
}

main {
  padding: 4em 2em;
}

.heading {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.community {
  background-color: white;
  padding: 1.5em;
  border-radius: 5px 5px 0 0;
}

.community .heading {
  color: var(--Cyan);
}

.thirty-day {
  color: var(--BrightYellow);
  margin-bottom: 1em;
  font-weight: 700;
}

.community p:nth-child(3) {
  color: var(--GrayishBlue);
  line-height: 2;
  font-size: 0.85rem;
}

.sub-container {
  background-color: var(--Cyan);
  padding: 1.5em;
  color: white;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.per-month {
  opacity: 0.5;
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0.5em;
}

button {
  width: 100%;
  padding: 1em;
  color: var(--LightGray);
  background-color: var(--BrightYellow);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 2em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.why-container {
  background-color: hsl(179, 62%, 43%, 0.8);
  padding: 1.5em;
  color: white;
  border-radius: 0 0 5px 5px;
}

ul {
  list-style: none;
  opacity: 0.8;
  font-size: 0.9rem;
}

li {
  margin-bottom: 0.3em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
}